h1, h2, h3, h4, h5, h6 {
    color: #00FF00;
}

a {
    color: #00FF00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: black;
    color: #00FF00;
    border: 1px solid #00FF00;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #00FF00;
    color: black;
}

body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../images/body.png');
    width: 100%
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

header {
    background-image: url('../images/header.png');
    position: absolute;
    top: 0;
    min-heigth: 320px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%
}

footer {
    background-image: url('../images/footer.png');
    position: absolute;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
