
* {
  box-sizing: border-box;
}

body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
}

/* Style the header */
.header {
    header {
        background-image: url('../images/logo3.png');
        min-height: 300px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #00FF00;
}
.topnav {
    a {
        color: #00FF00;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    button {
        background-color: black;
        color: #00FF00;
        border: 1px solid #00FF00;
        font-family: 'Courier New', Courier, monospace;
    }
    
    button:hover {
        background-color: #00FF00;
        color: black;
    }
  overflow: hidden;
  background-color: #000000;
  }
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
